deb {{apt_protocol}}://{{apt_repo}}/{{apt_so}}/ {{apt_dist}} main restricted multiverse universe
deb {{apt_protocol}}://{{apt_repo}}/{{apt_so}}/ {{apt_dist}}-updates main restricted multiverse universe
deb {{apt_protocol}}://{{apt_repo}}/{{apt_so}}/ {{apt_dist}}-security main restricted multiverse universe
deb {{apt_protocol}}://{{apt_repo}}/{{apt_so}}/ {{apt_dist}}-backports main restricted multiverse universe
